/*imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300&display=swap');

:root {
 --dark_blue: #1f2937;  
 --text_white_color:#f9faf8;
 --text_light_grey_color:#C7CAD0;
 --sky_blue_color : #3382f6;
 --quote_bg_color:#E5E7EB;
 --btn_text_color:#FDFEFE;
 --info_container_text_color:#5B6571;
}
* { 
margin:0;
padding:0;
} 

body {
min-height: 100vh;
display:flex;
flex-direction: column;
font-family: 'Roboto', sans-serif;
} 

body > * {
   padding:0 15vw;
  
}
header , footer {
    background-color:var(--dark_blue);
    align-items: center;
    display:flex;
}
header {
    padding-top:15px;
   padding-bottom:15px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:10px;
}



nav ul {
   
    display:flex;
   list-style: none;   
  gap:20px;
  justify-content: space-between;

}
nav a {
    text-decoration: none;
    
}
.rflex {
display: flex;
flex-direction: row;
justify-content: space-between;}
.cflex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;}
.hero {
    background-color: var(--dark_blue);
   padding-top: 120px;
   padding-bottom: 120px;
   
   gap:3rem
}


.hero > div:first-child {
flex:1 1 32vw;

    display: flex;
    flex-direction: column;
    gap:15px;
}
.rm_border{
    border:none;
}
button {
background-color: var(--sky_blue_color);
color:var(--btn_text_color);
font-weight: 700;
width: fit-content;
padding:7px 40px;
border-radius: 8px;
font-size: 18px;
}
.placeholder {
    flex-shrink: 0;
    max-width: 36vw;
    width:460px;
    padding:0 20px;
    display: flex;
 justify-content: center;
  align-items: center;
  height:225px;
  max-height:31vw ;
  background-color: #6D747D;
  color: white;
  font-size: 18px;
    font-weight: 400;
}
section.quote {
    background-color: var(--quote_bg_color);
}
section > h2.info_main_font {
    text-align: center; 
} 

.info_sec {
    padding-top:40px;
    padding-bottom: 110px;
    gap:40px;
   
}
.info_sec > .rflex {
    padding:0 5vw ;
    gap:40px;
flex-wrap: wrap;
justify-content: space-between;
}

.container {
    width: 179px;
    font-size: 18px;
    font-weight: 400;
    color: var(--info_container_text_color);
    text-align: center;
    gap:10px;
    
}
.container .r-box {
    flex:1 0 auto;
    width: 179px;
    height: 179px;
    border:var(--sky_blue_color) solid 5px;
    border-radius: 20px;
    /* margin:0 auto; */
}
section.quote {
padding-top: 150px;
padding-bottom: 150px;
margin-bottom: 110px;
}
section.quote div:last-child {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 500;
}

aside {
    margin: auto 15vw;
   padding:60px 120px;
    background-color:var(--sky_blue_color);
    border-radius: 10px;
    gap:30px;
    flex-wrap: wrap;
}
aside button {
    border:solid 2px white;
    height: fit-content;
}
footer{
    margin-top: 110px;
    justify-content:center;
    padding-top:40px;
    padding-bottom: 40px;
} 

/* fonts  */
.lightgray_font{
    color:var(--text_light_grey_color);
    font-size: 18px;
    font-weight: 400;
} 
.logo_font {
    font-size: 24px;
    font-weight: 900;
    color:var(--text_white_color);
} 
.hero_main_font {
    font-size: 48px;
    color:var(--text_white_color);
    font-weight: 900;
} 
.info_main_font {
    font-size: 36px;
    font-weight: 900;
    color:var(--dark_blue);
}

.quote_font {
    font-size: 36px;
    font-weight: 300;
    font-style:italic;
    color:var(--dark_blue);
} 

/* media query */
@media only screen and (max-width: 900px) {
.hero {
    flex-wrap: wrap;
}
.placeholder{
    max-width: 64vw;
}
section.quote {gap:30px;}
aside {
    padding:30px 60px;
}
} 

@media only screen and (max-width: 665px) {
    .info_sec > .rflex {
    justify-content: center;} 
    .container {
        width:60vw;
       
    }
    .container .r-box {
        width:40vw;
        height:40vw;
        margin:0 auto;
    }
    section.quote {gap:60px;}
} 


@media only screen and (max-width: 400px) {

    aside {
        padding:30px;
    }
}